body {
    background-color: #0d1a00 !important;
    color: #cea259 !important;
}

.section-green {
    /*background-color: #0d1a00;
    background: linear-gradient(to bottom, #0d1a00 90%, #000 100%);*/
    color: #cea259;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}

.section-black {
    /*background-color: #000;
    background: linear-gradient(to bottom, #000 90%, #0d1a00 100%);*/
    color: #cea259;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}

.section-header {
    font-size: 3em;
    padding-bottom: 20px;
    font-family: 'Shadows Into Light';
}

.page-header {
    background-image: linear-gradient(to bottom, rgba(000, 000, 000, 1), rgba(100, 100, 100, 0.25)), url(./img/salon-header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}

.pricelist-name {
    display: inline-block;
    width: 30%;
    min-width: 300px;
}

.pricelist-price {
    display: inline-block;
    width: 50%;
}

.container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-header {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.parking-text {
    font-size: 1.3em;
    padding-bottom: 20px;
}

.about-image {
    display: block;
    margin: auto;
}

.header-header {
    font-size: 4em;
    font-weight: 500;
    font-family: 'Shadows Into Light';
}

.header-text {
    font-size: 3em;
    font-family: 'Shadows Into Light';
}

.header {
    padding-top: 10%;
    padding-bottom: 10%;
}

.footer-day {
    font-size: 1.2em;
}

.footer-name {
    font-size: 2em;
    font-family: 'Shadows Into Light';
}

.footer-blonde-master {
    font-size: 1.5em;
    font-family: 'Shadows Into Light';
    padding-bottom: 15px;
}
